*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}
#heading{
    font-size: 35px;
    background-color: white;
    box-shadow: 0px 1px 4px black;
}
.signUp-form,#signUpForm{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: none; 
}
.signUp-form.active{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fieldset{
    width: 50%;
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(255,255,255,0.50);
    box-shadow: 0 2px 20px black;
    text-align: center;

}
.field{
    flex-wrap: wrap;
    text-align: center;
}
.label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    width: 40%;
    min-width: 200px;
    display: inline-block;
}
.input{
    width: calc(100% - 500px);
    min-width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.toggle-password {
    cursor: pointer;
    margin-left: -30px;
    position: relative;
    z-index: 2;
}

.toggle-password:hover {
    color: #007bff;
}

.input[type="password"] {
    padding-right: 30px; /* Space for the icon */
}

.label,.input{
    margin-bottom: 30px;
}
.register{
    width: 100%;
}
#register{
    cursor: pointer;
    text-decoration: none;
    background-color:blue;
    color: white;
    font-size: 17px;
    padding: 0 20px 0 20px;
    box-shadow: 0 5px 10px black;
}
#register:hover{
    background-color:cornflowerblue;
}

@media (max-width: 400px){
    .fieldset{
        padding: 50px;
        margin-bottom: 50px;
    }
    #heading{
        font-size: 25px;
    }
    .input{
        height: 25px;

    }
}
